*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-main{
  width: 450px;
  height: 500px;
  /* background-color: blueviolet; */
  /* border-radius: 10px;
  border: 1px solid #aaaaaa; */
}

.sidebar-upper{
  border-bottom: 1px solid lightslategrey;
  height: 20%;
  display: flex;
  background-color: #3d3d3d;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.sidebar-upper-left{
  width: 88%;
  border-right: 1px solid lightslategrey;
  padding: 15px;
}

.sidebar-upper-right{
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
}

.logo{
  font-size: 24px;
}

.logo-left{
  padding-right: 12px;
}

.logo-1{
  padding-bottom: 14px;
}

.sidebar-upper-left-1{
  font-size: large;
}

.sidebar-upper-left-2{
  font-size: 14px;
  padding: 5px 0px;
}

.sidebar-upper-left-3{
  display: flex;
}

.sidebar-lower{
  background-color: #181818;
  height: 80%;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: scroll;
}

.playlist-card{
  width: 100%;
  border-bottom: 1px solid lightslategray;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.serial-number{
  width: 5%;
  padding-right: 8px;
  font-size: small;
}

.image{
  /* background-color: #3d3d3d; */
  width: 100px;
  height: 60px;
  border-radius: 8px;
}

.image img{
  width: 100px;
  height: 60px;
}

.playlist-info{
  padding-left: 8px;
}